/*@import url('./src/utils/styles/helpers.js');*/


:root {
  --background: #121212;
  --surface: #121212;
  --on-primary: #000000;
  --dp00: #121212;
  --dp01: #1E1E1E;
  --dp03: #232323;
  --dp04: #272727;
  --dp06: #2C2C2C;
  --dp08: #2E2E2E;
  --dp12: #333333;
  --dp16: #363636;
  --dp24: #383838;
  --text-light: #ffffff;

  --primary-text: var(--text-light);
  --secondary-text: var(--text-light);



  --red: #ff5c5c;
  --orange: #fdac42;
  --yellow: #fddd48;
  --green: #39d98a;
  --teal: #73dee6;
  --seafoam: #03dac6;
  --blue: #3e7bfa;
  --darkNavy: #04264c;
  --purple: #bb86fc;
  --darkPurple: #3700b3;
  --white: #f5f6fd;
  --lightGray: #9e9e9e;
  --darkGrey: #54575E;

}

/*
text on dark background
#ffffff
high emphasis=87% opacity
medium emphasis=60%
disabled=38%
*/

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

h1{
  font-family: 'Open Sans', sans-serif;
  color: var(--text-light);
  font-size: 50px;
}
h2{
  font-family: 'Open Sans', sans-serif;
  color: var(--text-light);
  font-size: 42px;
}
h3{
  font-family: 'Open Sans', sans-serif;
  color: var(--text-light);
}
h4{
  color: var(--text-light);
}
h5{
  color: var(--text-light);
}

.nav-bar{
  background-color: var(--dp24);
  display: flex;
  flex-direction: row;
  padding-top: 1em;
  padding-bottom: 1em;
}
.nav-space{
  flex: 1;
}
#nav-list{
  flex: 2;
}

ul{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-left: 0.2em;

}
li{
  list-style-type: none;
  flex: 1;
  font-size: 2em;
  font-family: barricada-pro,serif;
  font-weight: 400;
  font-style: normal;

}

a{
  text-decoration: none;
  padding: 5%;
  border-radius: 4px;
}
a:link, a:visited{
  list-style-type: none;
  flex: 1;

}

a:hover, a:active{
  /*background-color: var(--dp03);*/
  /*filter: brightness(6);*/
}

.li-1:link, .li-1:visited{
  color: var(--yellow);
}
.li-2:link, .li-2:visited{
  color: var(--blue);
}
.li-3:link, .li-3:visited{
  color: var(--red);
}
.li-4:link, .li-4:visited{
  color: var(--green);
}

.li-1:hover, .li-1:active{
  color: var(--yellow);
  filter: brightness(150%);
  text-decoration: underline;
}
.li-2:hover, .li-2:active{
  color: var(--blue);
  filter: brightness(150%);
  text-decoration: underline;

}
.li-3:hover, .li-3:active{
  color: var(--red);
  filter: brightness(150%);
  text-decoration: underline;
}
.li-4:hover, .li-4:active{
  color: var(--green);
  filter: brightness(150%);
  text-decoration: underline;
}

#circle-spacing{
  height: 5vh;
  background-color: var(--dp24);
  display: flex;
  flex-direction: row;
  padding-top: 1em;
  padding-bottom: 1em;
}

.img-circle{
  border-radius: 50%;
  height: 25vw;
}

.circle{
  margin-top: -7em;
}





.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: var(--background);
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text);
}

.main-body{
  align-items: center;
  align-content: center;

}

.page-content{
  display: inline-block;
  width: 90vw;
  background-color: var(--dp01);
}

.container2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.bio{
  background-color: var(--dp04);
  /*margin-right: 2%;*/
  flex: 1 1 0px;
  color: white;
}
.updates{
  background-color: var(--dp04);
  /*margin-right: 2%;*/
  flex: 1 1 0px;
  color: white;
  border-radius: 10px;
}
.container1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.container-col{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-single{
  background-color: var(--dp04);
  margin: 10px;
  flex: 1 1 0px;
  color: white;
  border-radius: 3px;
}

.text {
  padding: 10px;
  background-color: var(--dp06);
  border-radius: 5px;
}
.text p{
  padding: 5px;
}

.music-square{
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0px;
  min-width: 10rem;
  border-radius: 10px;
}

.music-square > img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}


.margin-parent{
  padding-left: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.margin-child{
  margin-right: 2%;
}

.img-parent{
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.img-child{
  margin-right: 5%;
}

/*popup styling*/
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup-inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 20px;
  background: var(--dp24);
}

.cta-space{
  height: 5vh;

}

.update-box{
  margin: 10px;
  background-color: var(--dp03);
  border-radius: 5px;
}



